#navbar {
  background-color: #171c27 !important;
}

#board:has(.about-avatar) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board:has(.about-avatar) > .container {
  width: 100%;
}
